@font-face {
    font-family: "Myriad";
    src: url('../fonts/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
       url('../fonts/MyriadPro-Regular.woff') format('woff'),
       url('../fonts/MyriadPro-Regular.ttf') format('truetype'),
       url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
}

*:focus {outline: none;}

body
{
    font-family: Myriad, sans-serif;
    margin: 0 auto;
    background-color: #F5F0EC;
}

nav{
    vertical-align: middle;
    background-color:#F5F0EC;
/*	padding-left: 100px;*/
	padding-top: 22px;
/*    margin: 0 auto;*/
    margin-top: 0px;
    display: block;
    height: 76px;
/*    position: fixed;*/
}

header {
    height: 110px;
}

nav img{
    float: left;
}

nav ul {
	background-color: #F5F0EC;
	float: left;
	list-style: none;
	margin: 0;
	padding-top:10px;
    position: absolute;
    margin-left: 180px;
}

nav ul li{
    display: inline;
    margin: 0 20px;
}

nav a{
	font-weight: bold;
	font-style: italic;
	font-family: Myriad, sans-serif;
    font-size: 14pt;
	color: #AB0917;
	text-decoration: none;
}

nav a:hover{
	color: #F05E6A;
}

.margin-nav{
    height: 176px;
    margin-top: 176px;
    clear: both;
    position: absolute;
}

.clearfix {
    clear: both;
}

.contatos {
    display: block;
    float: right;
    left: -200px;
    position: relative;
    top: -34px;
}

.contatos span {
    position: relative;
    top: -8px;
}

.container{
/*	width: 960px;*/
    background-color:  #F5F0EC;
    min-height: 100%;
    position: relative;
}



.linha {
    position: relative;
	border: 2px solid;
	margin: 0 auto;
}

.cor1{
    border-color: #F05E6A;
    margin-bottom: 2px;
}

.cor2{
    border-color: #00385C;
}

.destaque{
	background-image: url("../images/destaque.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFF !important;
	height: 405px;
    padding-top: 50px;
/*	padding-left: 56%;*/
    margin-bottom: -2px;
}

.destaque form{
	background-color: #00385C;
	width: 184px;
	height: 280px;
	color: #FFF;
    font-size: 12px;
	font-family: Myriad, sans-serif;
	font-style: italic;
	line-height: 1.4;
	padding: 20px;
    top: -12px;
    float: left;
    margin-left: 60%;
    position: relative;
    -webkit-box-shadow: 9px 11px 17px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 11px 17px -8px rgba(0,0,0,0.75);
    box-shadow: 9px 11px 17px -8px rgba(0,0,0,0.75);
}

.destaque strong{
    font-size: 22pt;
    font-weight: 2500;
}

html, body {height:100%;}

.destaque input[type="text"], .destaque input[type="email"]{
	background-color: #EEEEEE;
    color: black;
	border: none;
	line-height: 22px;
    font-style: normal;
    padding: 0px 20px 0px 5px;
    width: 155px;
}

.destaque input[type="text"]:focus, .destaque input[type="email"]:focus
{
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,113,250,1);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,113,250,1);
    box-shadow: inset 0px 0px 5px 0px rgba(0,113,250,1);
}

.destaque input[type="text"]:focus:invalid, .destaque input[type="email"]:focus:invalid
{
    background: #fff url('../images/invalid.png') no-repeat 98% center;
    box-shadow: inset 0 0 5px #d45252;
    -webkit-box-shadow:box-shadow: inset 0 0 5px #d45252;
    -moz-box-shadow: inset 0 0 5px #d45252;
    border-color: #b03535;
}

.destaque input[type="text"]:focus:valid, .destaque input[type="email"]:focus:valid
{
    background: #fff url(../images/valid.png) no-repeat 98% center;
    box-shadow: inset 0 0 5px #5cd053 ;
    -webkit-box-shadow: inset 0 0 5px #5cd053 ;
    -moz-box-shadow: inset 0 0 5px #5cd053 ;
    border-color: #28921f;
}

.destaque input[type="submit"]:focus
{
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(255,255,255,1);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(255,255,255,1);
    box-shadow: inset 0px 0px 5px 0px rgba(255,255,255,1);
}

.destaque input[type="submit"]{
	background-color: #AB0917;
	color: #FFF;
	font-weight: bold;
	border: none;
	padding: 2px;
    font-size: 14px;
	width: 80px;
}

.destaque input[type="submit"]:hover{
	background-color: #F05E6A;
}

.destaque h2{
	margin: 0;
	font-size: 18px;
	margin-bottom: 2px;
}

.plano-content h2{
    display: inline-block;
}

.destaque input{
	margin-bottom: 6px;
}

.suamarca{
    float: left;
	font-style: italic;
	font-family: Myriad, sans-serif;
	font-size: 20pt;
    top: -30px;
    margin-left: 58.7%;
    position: relative;
}

.formulario label{
    font-weight: bolder;
    font-size: 14px;
}

.porque{
	height: 130px;
	width: 100%;
	background-color: #ab0917;
	position: relative;
    padding-top: 30px;
    display: block;
    position: relative;
}

.ebook{
	height: 300px;
	background-color: #f05e6a;
	position: relative;
    padding-top: 20px;
    text-align: center;
}

.ebook a{
    text-align: center;
    color: white;
    text-decoration: underline;
    font-family: Myriad, sans-serif;
    font-weight: bolder;
}

.ebook div{
    display: flex;
    font-family: Myriad, sans-serif;
    color: #003859;
    font-size: 28px !important;
    font-weight: 1800;
    margin-top: 20px;
}




.profissionais{
	display: block;
    position: relative;
    padding: 25px 0 10px 0;
    height: 140px;
	width: 100%;
	background-color: #00385C;
    color: white;
/*    margin-bottom: -25px;*/
}

.profissionais div{
	color: #FFF;
	font-size: 14pt;
	font-family: Myriad, sans-serif;
	text-align: center;
	font-weight: bold;
	display: block;
	vertical-align: middle;
}

footer{
	width: 100%;
	background-color: #00385C;
    display: block;
    position: absolute;
    vertical-align: bottom;
    padding: 10px 0 10px 0;
    bottom: 0;
    clear: both;
}

footer div{
	color: #FFF;
	font-size: 8pt;
	font-family: Myriad, sans-serif;
	text-align: center;
	position:relative;
    display: block;
    line-height: 160%;
/*
    padding-top: 20px;
    padding-bottom: 10px;
*/

}

footer div a{
    text-decoration: none;
    color: white;
}

.icons-nav {
    margin-top: 40px;
    margin-left: -200px;
}

.fone-nav {
    margin-top: -28px;
    margin-left: 605px;
}

.mail {
    font-size: 1.6em;
    line-height: 200%;
}

.mail::before{
    content: url('../images/mail.gif');
    margin-right: 10px;
    position: relative;
    top: 6px;
}

.porque ul {
    list-style: none;
}

.porque ul li {
    display: inline;
    margin-top: -10px;
    border: 1px solid #FFF;
    background-color: #FFF;
    border-radius: 50%;
    font-size: 80pt;
    font-style: 900;
    text-align: center;
    padding-right: 70px;
    margin-left: 30px;
    padding-left: 15px;
    font-family: Myriad, sans-serif;
}

iframe {
    padding-top: 4.5%;
    margin: 100px auto;
    position: relative;
    display: block;
}

.circulo {
    width: 100px;
    height: 100px;
    border: 1px solid #FFF;
    border-radius: 50%;
    background-color: #FFF;
    display: inline-flex;
    float: left;
}

.cir-left{
    margin-left: 5%;
}

.icon{
    color: #ab0917;
    text-align: center;
    font-size: 60pt;
    font-weight: bolder;
    margin: auto;
    text-align: center;
    float: left;
    position: relative;
}

.desq {
    color: white;
    font-family: Myriad, sans-serif;
    font-size: 22px;
    font-weight: bolder;
    margin-left: 10px;
    margin-top: 25px;
    float: left;
    position: relative;
}



.icon-group {
    position: inherit;
    display: block;
    width: 725px;
    margin: 0 auto;
}

.section-padrao {
    background-color: #F5F0EC;
    position: relative;
    margin-top: 50px;
}

h1{
    padding-bottom: 0;
    margin-bottom: 0;
    line-height: 0px;
    color: #F05E6A;
    font-weight: 900;
    font-size: 2.5em;
}

.empresa h1{
    margin-bottom: 50px !important;
    float: left;
}

.subtitulo{
    color: #F05E6A;
    font-size: 1.5em;
}

.duvidas{
    padding-bottom: 30px;
    top: 25px;
    margin: 0 auto;
}

.duvidas article p{
    color: #858585;
    font-size: 11pt;
    padding-bottom: 20px;
    margin-top: -10px;
}

.duvidas article p:last-child{
    margin-bottom: 0px;
    clear: both;
}

.duvidas article h2:first-child{
    margin-top: 40px;
}

.duvidas article h2 {
    font-size: 1.3em;
}

.empresa{
    background-color: #F5F0EC;
    width: 670px;
    margin: 0 auto;
    margin-bottom: 0;
    text-align: justify;
}

.empresa-div{
    margin-left: 200px !important;
    position: relative;
}

.empresa p {
    width: 500px;
    color: #858585;
    font-style: italic;
    float: left;
}

.empresa p:first-child{
    margin-top: 30px;
}

.empresa p:last-child{
    margin-bottom: 0px;
    padding-bottom: 40px;
}


.borda-empresa {
    float: right;
    position: inherit;
    margin-top: 80px;
}

.pesquise div {
    background-image: url('/images/bt-pesquise.gif');
    position:relative;
    margin: 0px;
    padding: 0px;
    height: 44px;
    width: 170px;
}

.down-ebook-container div {
    background-image: url('/images/bt-download.gif');
    position:relative;
    margin: 0px;
    padding: 0px;
    height: 59px;
    width: 264px;
}

.pesquise div:hover {
    background-image: url('/images/bt-pesquise-hover.gif');
}

.down-ebook-container div:hover {
    background-image: url('/images/bt-download-hover.gif');
}

.pesquise-container {
    display: -webkit-flex; /* Safari */
    -webkit-flex-flow: row wrap; /* Safari 6.1+ */
    -webkit-align-content: space-around; /* Safari 7.0+ */
    display: block;
    position: relative;
    padding-bottom: 30px;
    margin: 0 auto;
    width: 170px;
    height: 120px;
}

.down-ebook-container {
    display: -webkit-flex; /* Safari */
    -webkit-flex-flow: row wrap; /* Safari 6.1+ */
    -webkit-align-content: space-around; /* Safari 7.0+ */
    display: block;
    width: 264px;
    padding-bottom: 30px;
    margin: 0 auto;
}

.pesquise{
    text-decoration: none;
    width:  170px;
    margin: 0 auto;
}

.botao{
    color: white;
    font-family: Myriad, sans-serif;
    font-size: 12pt;
    line-height: 100%;
    text-align: center;
    padding-top: 12px;
}

.botao-maior{
    font-size: 16pt !important;
    line-height: 100%;
    text-align: center;
    padding-top: 10px !important;
    width: 180px !important;
}
.pesquise p{
    width: 80px;
    padding-top: 7px;
    margin-left: 65px;
}

.contato {
    position: relative;
    display: block;
}

.form-padrao textarea, .form-padrao input{
    width: 462px;
    margin-bottom: 20px;
    border: 0px;
    font-size: 16pt;
    padding: 10px 5px 10px 5px;
    box-shadow: 2px 2px 1px #CCC;
    color: #858585;
}

/*
.form-padrao textarea:focus, .form-padrao input:focus
{
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,113,250,1);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,113,250,1);
    box-shadow: inset 0px 0px 5px 0px rgba(0,113,250,1);
}

.form-padrao textarea:focus:invalid, .form-padrao input:focus:invalid
{
    background: #fff url('../images/invalid.png') no-repeat 98% center;
    box-shadow: inset 0 0 5px #d45252;
    -webkit-box-shadow:box-shadow: inset 0 0 5px #d45252;
    -moz-box-shadow: inset 0 0 5px #d45252;
    border-color: #b03535;
}
*/

.campo_invalido {
    background: #fff url('../images/invalid.png') no-repeat 98% center;
    box-shadow: inset 0 0 5px #d45252 !important;
    -webkit-box-shadow:box-shadow: inset 0 0 5px #d45252 !important;
    -moz-box-shadow: inset 0 0 5px #d45252 !important;
    border-color: #b03535 !important;
}

.campo_valido
{
    background: #fff url(../images/valid.png) no-repeat 98% center;
    box-shadow: inset 0 0 5px #5cd053 !important ;
    -webkit-box-shadow: inset 0 0 5px #5cd053 !important;
    -moz-box-shadow: inset 0 0 5px #5cd053 !important;
    border-color: #28921f !important;
}

/*
.form-padrao textarea:focus:valid, .form-padrao input:focus:valid
{
    background: #fff url(../images/valid.png) no-repeat 98% center;
    box-shadow: inset 0 0 5px #5cd053 ;
    -webkit-box-shadow: inset 0 0 5px #5cd053 ;
    -moz-box-shadow: inset 0 0 5px #5cd053 ;
    border-color: #28921f;
}
*/

.form-padrao textarea{
    height: 110px;
}

.form-padrao{
/*    padding-left: 75px;*/
}

.form-padrao label{
    font-weight: bolder;
    font-size: 15pt;
}

.sub-contato {
}

.cliente {
    position: relative;
    background-color: #F5F0EC !important;
}

.cliente h1{
    margin-bottom: 30px;
}

.bt-azul div {
    background-image: url('/images/bt-azul.gif');
}

.bt-azul div:hover {
    background-image: url('/images/bt-azul-hover.gif');
}

.bt-cinza div {
    background-image: url('/images/bt-cinza.gif');
}

.bt-cinza div:hover {
    background-image: url('/images/bt-cinza-hover.gif');
}

.bt-padrao div {
    position:relative;
    margin: 0px;
    padding: 0px;
    height: 37px;
    width: 170px;
    text-decoration: none;
}

.bt-padrao div:hover {
    text-decoration: none;
}

.botao-container {
    width: 170px;
    height: 37px;
    margin: 0 auto;
    text-decoration: none;
    padding-bottom: 30px;
    display: block;
    float: left;
    position: relative;
}

.botao-container a{
    text-decoration: none;
}

.botoes-login {
    position: relative;
    margin: 0 auto;
    width: 370px;
    display: table;
}

.botoes-login .botao-container:last-child {
    padding-left: 30px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.circ-red1 {
    background-color: #F05E6A !important;
    position: relative;
}

.sect-como {
    position: relative;
}



.desq-red {
    color: #F05E6A;
    padding-left: 125px;
}



.icon-white {
    color: white !important;
}

.align-h1-como h1{
    padding-top: 35px;
}

.align-h1-porque h1{
    top: 50px;
    width: 574;
    position: relative;
    padding-bottom: 125px;
}

.align-h1-porque{
    width: 574;
}

.box {
    width:  245px;
    height: 465px;
    padding: 10px;
    padding-left: 25px;
    color: white;
    margin-left: 35px;
}

.box p{
    font-size: 16pt;
    font-style: italic;
    padding-top: 20px;
    width: 210px;
}

.box h2{
    width: 220px;
    font-size: 19pt;
}

.b-azul {
    background-color: #00395C;
}

.b-red{
    background-color: #AB1117;
}



.paddding-como {
    padding-left: 200px;
}



.box-group {
    margin: 0 auto;
    width: 652px;
}

.box-space{
    height: 45px;
    width: 30px;
}



.circ-left {
    position: relative;
    margin-left: -50px;
    border: 3px solid #FFF;
    z-index: 100;
}

.dir-box {
    margin-left: -56px;
}

.dir-box h2{
    margin-left: 35px;
    width: 190px;
}

.dir-box p{
    padding-top: 0px !important;
    margin-top: -10px;
}

.img-info {
    padding-left: 250px;
    float: right
}

.subtitulo-content {
    color: #AB0617;
    font-weight: bold;
    margin-bottom: 40px;
    font-size: 1.3em;
}

.informativo h3 {
    margin-top: 25px;
}



.informativo-content p{
    color: #858585;
    padding-bottom: 8px;
}

.informativo-content {
    width: 620px;
}

.destaque-ebook {
    color:#00385A;
    font-size: 1.9em;
    font-weight: bolder;
    font-style: italic;
    width: 620px;
}

.destaque-ebook a{
    color:#F05E6A;
}

.porque-reg {
    position: relative;
    box-sizing: border-box;
}

.porque-reg article{
    margin-left: 38% !important;
}

.porque-reg ul{
    list-style: none;
    margin-left: -40px;
    color: #858585;
    line-height: 180%;
}

.porque-reg img{
    margin-top: 5px;
    position: relative;
    display: inline;
}

.porque-reg article{
    width: 574px;
    margin-left: 38px;
}

.pesq-marca h1{
    padding-bottom: 60px;

}

.bt-enviar {
    width: 170px;
    float: none !important;
    height: 100px;
}

.alerta {
    background-color: #F5F0EC;
    border: 1px solid #000;
    border-radius: 7px;
    height: 130px;
    padding: 10px;
    padding-top: 120px;
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -65px;
    z-index: 2;
    display: none;
    text-align: center;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}

.validate-false{
    border-color: red;
}

.msg_erro::after {
    background-color: lightcoral;
    border: 1px solid red;
    color: black;
    content: "mensagem erro";
    position: absolute;
    float: right;
}





.ebook-bottom {
    font-size: 18px !important;
    text-align: center;
    color: white !important;
    text-decoration: underline;
    font-weight: bold !important;
    margin-top: 30px !important;
}

.fixed-nav {
    position: fixed;
    width: 100%;
    margin-bottom: 176px !important;
    z-index: 999;
    background-color:#F5F0EC;
    height: 110px;
}


button.blue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFF;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#0068A9 0%,
		#00598F 50%,
		#004976 50%,
		#00395c);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#0068A9),
		color-stop(0.50, #00598F),
		color-stop(0.50, #004976),
		to(#00395c));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #00395c;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(0,255,255,1);
}

.conheca {
	background-color: #ab0917;
    padding-bottom: 30px;
    position: relative;
    margin: 0 auto;
}

.conheca button{

}

.destaque-container {
    margin: 0 auto;
}

.duvida-container {
    width: 740px;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: justify;
}

.duvida-container img{
/*    margin-left: 50px;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.informativo-container {
    margin: 0 auto;
    width: 620px;
    text-align: justify;
}

.informativo-container img{
    display: block;
    margin-left: auto;
    margin-right: auto ;
}

.informativo-container li{
    color: #858585;
}

.contato-container {
    margin: 0 auto;
    width: 492px;
}

.ebook-container {
    width: 690px;
    margin: 0 auto;
    text-align: left;
}

.cliente-container {
    width: 472px;
    margin: 0 auto;
}

.pesq-marca {
    width: 472px;
    margin: 0 auto;
}

.pesq-marca-container {
    width: 475px; margin: 0 auto;
    padding-top: 30px;
}

.plano {
    position: relative;
    display: block;
    padding: 10px;
    color: #999999;
    font-family: Myriad, sans-serif;
}

.plano h2{
    display: inline-block;
    margin-right: 10px;
}

.plano:last-child{
    margin-bottom: 25px;
}

.plano:first-child{
    top: -40px;
}


.plano-content{
    color: #999999;
    font-family: Myriad, sans-serif;
    font-size: 1.2em;
    text-align: justify;
}

.plano span:first-child{
    color: #AB0917;
    font-family: Myriad, sans-serif;
    font-size: 2.4em;
    font-weight: bolder;
}

.sub-plano{
    color: #999999;
    font-family: Myriad, sans-serif;
    font-size: 1.2em;
    font-weight: bolder;
    margin-top: -8px;
}

.nossos-planos {
    width: 720px;
    margin: 0 auto;
    display: block;
    position: relative;
    height: 100%;
    padding-bottom: 100px;
}

.img-planos {
    background-image: url("../images/planos.fw.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 340px;
    margin-bottom: -40px;
    z-index: 900;
    margin-top: 15px;
}

select {
   background-color: #FFFFFF;
   padding: 5px;
   font-size: 16px;
   line-height: 22px;
   border: 1;
   border-radius: 0;
   padding: 0px 5px 0px 5px;
   margin-bottom: 6px;
    width: 472px;
    margin-bottom: 20px;
    border: 0px;
    font-size: 16pt;
    padding: 10px 5px 10px 5px;
    box-shadow: 2px 2px 1px #CCC;
    color: #858585;
}

.contatos-container {

}

.telefones {
    top: -40px;
    left: -30px;
    position: relative;
    float: right;
}

.txtCenter {
    text-align: center;
}

.price-plano {
    font-size: 1.2em;
    display: inline-block !important;
}
